@model IEnumerable<TrainersMVC.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Trainers</h2>

@Html.ActionLink("Create New", "Create")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            Course
        </th>
        <th></th>
    </tr>

    @foreach (var trainer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modeltrainer => trainer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modeltrainer => trainer.Course.Title)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = trainer.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = trainer.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = trainer.ID })
            </td>
            
        </tr>
    }

</table>