@model IEnumerable<TrainersMVC.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Trainers</h2>

@Html.ActionLink("Create New", "Create")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            Course
        </th>
        <th></th>
    </tr>

    @foreach (var trainer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(trainer.FullName, "Edit", new { id = trainer.ID })
            </td>
            <td>
                @Html.DisplayFor(modeltrainer => trainer.Course.Title)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = trainer.ID })   |
                <button data-trainer-id="@trainer.ID" class="btn btn-link js-delete">Delete</button> 
            </td>
            
        </tr>
    }

</table>

@section scripts
{
    <script>
        @*$(document).ready(function () {
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                e.preventDefault();
                if (confirm("Are you sure you want to delete this trainer?")) {
                    $.ajax({
                        url: "api/trainers/" + button.attr("data-trainer-id"),
                        method: "DELETE"
                    }).done(function () {
                        alert("Something went well");
                    }).fail(function () {
                        alert("Something failed");
                    });
                }
                
            });
        });*@

        $(document).ready(function () {
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                e.preventDefault();
                if (confirm("Are you sure you want to delete this trainer?")) {
                    $.ajax({
                        url: "api/trainers/" + button.attr("data-trainer-id"),
                        method: "POST"
                    }).done(function () {
                        button.parents("tr").fadeOut(function () {
                            $(this).remove();
                        });
                    }).fail(function () {
                        alert("Something failed");
                    });
                }

            });
        });
    </script>
    
    
    
}